body {
  background-color: #282c34;
  color: white;
  padding: 40px;
  font-family: Sans-Serif;
  text-align: left;
}


.p1
{
  background-color: #ssss;
  color: white;
  padding: 40px;
  font-family: Sans-Serif;
  text-align: left;
}

.p
{
  background-color: #ssss;
  color: white;
  padding: 40px;
  font-family: Sans-Serif;
  text-align: left;
}
